fastapi>=0.85.0,<1.0.0
pydantic[dotenv]>=1.10.2,<2.0.0
docker>=6.0.0,<7.0.0
kubernetes>=24.2.0,<25.0.0
uvicorn>=0.18.3,<0.19.0
PyYAML>=6.0.0,<7.0.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability